  <div class="container">
    <nav>
      <span class="nav-toggle" id="js-nav-toggle">
            <i class="fas fa-bars"></i>
      </span>
      <div class="logo">
        <span class="icon circle-1"></span>
        <span class="icon circle-2"></span>
        <span class="icon circle-3"></span>
      </div>
      <ul id="js-menu">
        <li>Discover</li>
        <li>How it works</li>
        <li>Reviews</li>
        <li>Blog</li>
      </ul>
    </nav>
