<div class="container">
  <!-- Content here -->
  <h1>Die Einzelnen Herr'n</h1>
  <p>Find me in app/views/pages/about.html.erb</p>

  <a> <%= link_to 'Homepage', root_path, class: "btn btn-primary" %></a>

<a> <%= link_to 'Die Herren', about_path, class: "btn btn-primary" %></a>

  <a> <%= link_to 'Kontakt', contact_path, class: "btn btn-primary" %></a>
</div>
