 <div class="container">
  <br>
  <br>
  <br>
  <br>

  <!-- Content here -->
  <h1>Meine Herr'n Homepage</h1>
  <p>Find me in app/views/pages/home.html.erb</p>



  <a> <%= link_to 'Die Herren', about_path, class: "btn btn-primary" %></a>

  <a> <%= link_to 'Kontakt', contact_path, class: "btn btn-primary" %></a>
</div>
