
 <div class="landing">
  <div class="caption">
    <h3>Zwei großartige Musiker</h3>
    <h3>Ein singender Schauspieler</h3>
    <h3>Herzlich wilkommen bei Meine Herr’n!</h3>

    <h1>Meine Herr'n</h1>

    <%#= image_tag image_path("mh_sw.jpg"), alt: "alttext", class: "landing-img" %>
    <a> <%= link_to 'Homepage', root_path, class: "btn btn-landing" %></a>
  </div>
</div>


