<div class="card-group">
  <div class="card card-one">
    <div class="card-body position">
      <h3 class="card-title">Zwei großatige Musiker.</h3>
      <h3 class="card-title">Ein singender Schauspieler.</h3>
      <h3 class="card-title">Ausdrucksvoll. Leidenschaftlich. Jazzig.</h3>
      <p class="card-text">Ob Konzert oder Gala, ob Bühne oder Hausmusik; erleben Sie mit Jan Damitz , Lars Breitinger und Carl Kossmer einen Abend voller Jazz, Blues, Swing, Lyrik, Witz und Melancholie. Musik der 20er bis 50er Jahre: Freuen Sie sich auf Lieder voll feiner Ironie über Liebe, Berge, Sehn-Süchte, Südseeinseln, Haustiere, Berlin und … Dazwischen gibt‘s Erlebtes und Erfundenes, mit Niveau und auch mal knapp darunter; voller Charme, Esprit und Seele führt Jan Damitz Sie durch den Abend. Tauchen Sie ein und lassen Sie sich überraschen! Was sich sonst noch zu wissen lohnt: Meine Herr’n, ein Berliner Trio, wurde 2009 von Jan Damitz gegründet. Anfangs spielten die „Herr’n“ Schlager aus den großen UFA- Tonfilmen, ganz klassisch mit dreistimmigen Gesang, Gitarre und Kontrabass. Die Musiker wechselten, das Repertoire wuchs: Jazz, Swing und der Blues zogen ein, Unterhaltungsmusik der 1920er bis 1950er Jahre (u.a. von Mackeben, Heymann, Hollaender, Kreuder) auch amerikanische Schlager und Standards bereichern das Programm; gesungen konsequent auf Deutsch. Heute besteht das Berliner Trio aus dem Sänger und Schauspieler Jan F. Damitz, dem Gitarristen Lars J. Breitinger und dem Kontrabassisten Carl C. Kossmer.
.</p>
    </div>
  </div>
  <div class="card foto">
    <div class="card-body">
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
