// .sub-container {
//   display: flex;
// }

// .headline {
//   margin-top: 150px;
// }

#hp {
  float: left !important;
  margin: 0 0 0 0;
  clear: both;
  max-width: 500px;
  max-height: 600px;
  // margin-right: -300px;
}

.headline {
  margin-top: 150px !important;
  margin-right: auto;
}

.motto {
  margin-left: 10px;
  margin-top: 250px !important;

}

// .photo {
//   max-width: 300px;
//   max-height: 400px;
  // margin-top: 150px !important;

  // text-align: center;
  // display: flex;
// }

.bla {
  margin-top: -80px;
}
